
.aboutUs {
  padding: 8rem 0px;
}
.aboutUs h2 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  padding-bottom: 0.5rem;
  color: #2f3034;
}
.aboutUs p {
  margin-top: 10px;
}
.aboutUs h2::after {
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #f69335;
}
.aboutUs .imgwrapper img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.ourMVG .myCard {
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.ourMVG .myCard:hover {
  transition: all 0.3s ease;
  margin-top: -1rem;
}
.ourMVG .myCard .iconWrapper {
  margin: 0rem 1rem;
}
.ourMVG .myCard .iconWrapper i {
  font-size: 5rem;
  padding: 0.5rem;
  color: #f69335;
}
.ourMVG .myCard .content p {
  font-size: 12px;
}
.ourMVG .myCard .content h3 {
  font-size: 1.6rem;
  font-weight: bold;
}