@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");



.breadcrumbs {
    position: relative;
    background-color: #fc8019 ;
    padding: 5px 0px;
    .addVender {
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translate(-0%, -50%);
        text-transform: capitalize;
        border-radius: 3px;
        border: 0px;
        background-color: #fc8d30;
        color: #fff;
        padding: 2px 30px;
        font-weight: bold;
        border: 1px solid #fff;
    }

    ul {
        margin-bottom: 0rem;
        li {
            // color: #3abb69;
            color: #eee;
            font-weight: bold;
            margin: 10px 1px;
            a {
                color: inherit;
                padding: 10px;
                text-decoration: none;
            }
            i {
                font-size: 12px;
            }
            .ActiveBreadcrumb {
                color: #fff;
            }
        }
    }
}
main {
    // background-color: #eee;
    // min-height: 100vh;
}
.allBtnsWrapper {
    .allBtns {
        background-color: #fff2e7;
        border: 1px solid #fc8019;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        text-align: center;
        border-radius: 5px;
        button {
            min-width: 150px;
            margin: 10px;
            text-transform: capitalize;
            border-radius: 3px;
            border: 0;
            background-color: #fc8019;;
            color: #fff;
            font-size: 13px;
            font-weight: 500;
            padding: 3px 0px;
            font-family: "Montserrat", sans-serif;
        }
        .activeBtn {
            background-color: #df6703;
        }
    }
}
.ProductDetailsWrapper {
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #fc8019;
    .details {
        transition: all .5s ease;
        position: relative;
        top: 0px;
        .title {
            padding: 10px 0px;
            text-align: center;
            h3 {
                display: inline-block;
                border-bottom: 2px solid #fc8019;
                // color: #7a7797;
                color: #000;
                font-weight: bold;
                padding-bottom: 5px;
                font-size: 20px;
            }
        }
    }
    table {
        max-width: 100%;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        border-radius: 5px;
        tr:nth-child(even) {
            background-color: #3abb6957;
            input,
            select,
            td {
                color: #000;
                &::placeholder {
                    color: #000;
                }
            }
            select option {
                background-color: #3abb6957;
            }
        }
        tr {
            height: 40px;
            &:last-child {
                border-bottom: 2px solid #ddcece;
            }
        }
    }
    table,
    th,
    td {
        border: 1px solid #ddcece;
        border-collapse: collapse;
        font-size: 14px;
        text-align: center;
    }
    thead {
        background-color: #7a7797;
        color: #fff;
        tr,
        th {
            border: 1px solid #000;
        }
    }
    tbody {
        tr {
            td:first-child {
                font-weight: 500;
                text-transform: capitalize;
            }

            input,
            select {
                width: 100%;
                height: 37px;
                border: 0;
                // border: 1px solid #ddcece;
                text-align: center;
                background-color: transparent;
                color: #7a7797;
            }
        }
    }
    .venderDetailsTable{
        position: relative;
        left: 200%;
        top: 0px;
        display: none;
    }
}
#addVenderWrapper {
    display: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border-radius: 5px;
    padding: 30px 0px;
    .addVenderTitle {
        text-align: center;
        padding-bottom: 20px;
        h2 {
            display: inline-block;
            border-bottom: 2px solid #3abb69;
            color: #7a7797;
            font-weight: bold;
            padding-bottom: 5px;
            font-size: 20px;
        }
    }
    .addVenderForm {
        .formGroup {
            margin-bottom: 20px;
            label {
                color: #7a7797;
                font-size: 14px;
                font-weight: 500;
                padding-left: 5px;
            }
            input {
                border: 2px solid #eee;
                width: 100%;
                border-radius: 4px;
                padding-left: 15px;
            }
        }
        .addVenderSubmitBtn {
            text-transform: capitalize;
            border-radius: 3px;
            border: 0px;
            background-color: #3abb69;
            color: #fff;
            padding: 2px 30px;
            font-weight: bold;
        }
    }
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.table1Btns,.table2Btns {
    button {
        text-transform: capitalize;
        border-radius: 3px;
        border: 0px;
        background-color: #3abb69;
        color: #fff;
        padding: 3px 50px;
        font-size: 16px;
        font-weight: bold;
    }
}
